Repository okekefrancis112/hintents: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, rust-clippy, rust-fmt, go-fmt

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

rust-clippy:
  name: cargo clippy (strict)
  entry: bash -c 'cd simulator && cargo clippy --all-targets --all-features -- -D warnings -D clippy::all -D unused-variables -D unused-imports -D unused-mut -D dead-code -D unused-assignments -W clippy::pedantic -W clippy::nursery'
  language: system
  pass_filenames: false

rust-fmt:
  name: cargo fmt
  entry: bash -c 'cd simulator && cargo fmt --check'
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: bash -c 'test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

fix(source-map): Handle inlined functions properly in traces
  internal/dwarf/parser.go
  internal/dwarf/parser_test.go
  internal/trace/search_unicode_test.go
  internal/trace/trap.go
  internal/trace/trap_test.go
  internal/trace/treeui.go
  internal/trace/viewer.go
Due: go-vet, go-fmt

Resolve conflicts
  go.mod
  go.sum
Due: none

feat(audit): Add multi-signature support for team signoffs
  src/audit/AuditLogger.ts
  src/audit/AuditRenderer.ts
  src/audit/AuditVerifier.ts
  tests/audit-render.test.ts
  tests/audit.test.ts
Due: none

feat(testgen): enforce formal schema validation for #606
  internal/testgen/generator.go
  internal/testgen/templates.go
Due: go-vet, go-fmt

feat(session): optimize state management with middleware injection for #589
  internal/session/state.go
Due: go-vet, go-fmt

fix: resolve auto-merge artifacts from main merge
  go.mod
  go.sum
  internal/cmd/debug.go
  internal/dwarf/parser.go
  internal/rpc/verification.go
  internal/sourcemap/resolver.go
  internal/trace/navigation.go
  internal/trace/node.go
  internal/visualizer/color.go
  internal/watch/spinner.go
Due: go-vet, go-fmt

Add interactive wizard for erst init
  internal/cmd/init.go
  internal/cmd/init_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-vet, go-fmt

chore: remove redundant emojis
  IMPLEMENTATION_INTERACTIVE_SHELL.md
  docs/INTERACTIVE_SHELL.md
Due: none

fix: merge issues
  internal/cmd/completion.go
  internal/cmd/debug.go
  internal/dwarf/parser.go
  internal/rpc/client.go
  internal/rpc/client_bench_test.go
  internal/rpc/verification_test.go
  internal/simulator/schema.go
  internal/sourcemap/discovery.go
  internal/sourcemap/resolver.go
  internal/trace/navigation.go
  internal/trace/node.go
  internal/trace/node_test.go
  tests/logger.test.go
Due: go-vet, go-fmt

feat: Error for excessive storage
  internal/cmd/dry_run.go
  internal/simulator/ledger_limits.go
  internal/simulator/ledger_limits_test.go
Due: go-vet, go-fmt

feat(cli): add mock faucet command for localized sandboxing
  internal/cmd/sandbox.go
Due: go-vet, go-fmt

fix: merge issues
  .github/workflows/ci.yml
  .github/workflows/strict-lint.yml
  .golangci.yml
  commit_309_changes.sh
  docs/showcase/next-env.d.ts
  docs/showcase/next.config.mjs
  scripts/lint-strict.sh
  scripts/test-strict-linting.sh
  simulator/Cargo.toml
  simulator/src/main.rs
  simulator/src/runner.rs
  simulator/src/snapshot/mod.rs
  simulator/src/source_mapper.rs
  simulator/src/types.rs
  src/audit/signing/__tests__/rateLimiter.spec.ts
  src/audit/signing/rateLimiter.ts
  src/commands/__tests__/audit.spec.ts
  test/audit_load_test.ts
  tests/audit_signing_load_test.test.ts
  tests/factory.test.ts
  tests/kms-integration.test.ts
  tests/signer-factory.test.ts
  tests/test_fix_all_licenses.sh
Due: rust-clippy, rust-fmt

feat: extract DiagnosticEvent and CategorizedEvent into events.go
  internal/simulator/events.go
Due: go-vet, go-fmt

chore: remove empty validator_test.go
  internal/simulator/validator_test.go
Due: go-vet, go-fmt

feat: extract SecurityViolation into security_types.go
  internal/simulator/security_types.go
Due: go-vet, go-fmt

refactor: strip all type declarations out of schema.go into domain modules
  internal/simulator/schema.go
Due: go-vet, go-fmt

feat: extract SimulationResponse and BudgetUsage into response.go
  internal/simulator/response.go
Due: go-vet, go-fmt

feat: extract SimulationRequest, ResourceCalibration, AuthTraceOptions into request.go
  internal/simulator/request.go
Due: go-vet, go-fmt

feat: extract WasmStackTrace, StackFrame, and SourceLocation into stacktrace.go
  internal/simulator/stacktrace.go
Due: go-vet, go-fmt

feat: extract Session, DB, SearchFilters, and DB methods into session.go
  internal/simulator/session.go
Due: go-vet, go-fmt

docs: add cross-invocation tutorial for SimulationRequest (#544)
  docs/COOKBOOK.md
Due: none

fix: fixes to ensure build and test run successfully
  internal/rpc/verification.go
  internal/simulator/helpers_test.go
  internal/simulator/runner.go
Due: go-vet, go-fmt

Add dead code elimination pass for WASM contracts (#615)
  internal/cmd/dce.go
  internal/dce/dce.go
  internal/dce/dce_test.go
Due: go-vet, go-fmt

feat(cmd): wire --async and --async-timeout flags into debug command
  internal/cmd/debug.go
Due: go-vet, go-fmt

chore(simulator): add shared uint32Ptr/stringPtr test helpers
  internal/simulator/helpers_test.go
Due: go-vet, go-fmt

fix(simulator): add Validator field and fix pointer receiver on ipc.Error
  internal/simulator/runner.go
Due: go-vet, go-fmt

fix(watch): remove unused fmt import in spinner.go
  internal/watch/spinner.go
Due: go-vet, go-fmt

fix(cmd): correct NewClient call signature and remove unused import
  internal/cmd/shell.go
Due: go-vet, go-fmt

fix(visualizer): repair duplicate function bodies from bad merge
  internal/visualizer/color.go
Due: go-vet, go-fmt

fix(dwarf): repair duplicate parseWASM code block from bad merge
  internal/dwarf/parser.go
Due: go-vet, go-fmt

Optimize Keccak256 gas heuristic for tiny inputs
  internal/simulator/calibration_serialization_test.go
  internal/simulator/protocol.go
  internal/simulator/protocol_test.go
Due: go-vet, go-fmt

fix(simulator): remove empty validator_test.go causing build failure
  internal/simulator/validator_test.go
Due: go-vet, go-fmt

deleted: unwanted file
  PR_573_MESSAGE.md
Due: none

fix: resolve merge issues after pulling from main
  internal/rpc/client.go
  internal/rpc/client_retry_test.go
  internal/rpc/ledger_test.go
  internal/rpc/verification.go
  internal/shell/session.go
  internal/shell/session_test.go
  internal/terminal/ansi_test.go
Due: go-vet, go-fmt

fix: make TestInvalidOutputDir cross-platform (Windows CI)
  internal/report/exporter_test.go
Due: go-vet, go-fmt

Fix strict linting failures
  internal/rpc/ledger_integration_test.go
Due: go-vet, go-fmt

chore: Add .gocache to .gitignore.
  .gitignore
Due: none

fix: resolve TypeScript build errors and linting issues
  src/audit/signing/factory.ts
  src/audit/signing/kmsSigner.ts
  src/commands/audit.ts
  src/index.ts
  tests/factory.test.ts
  tests/pkcs11Signer.test.ts
  tests/signer-factory.test.ts
Due: none

Path conditions:
  go-vet: any of: \.go$
  rust-clippy: any of: \.rs$
  rust-fmt: any of: \.rs$
  go-fmt: any of: \.go$
