Repository okekefrancis112/hintents: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-vet, rust-clippy, rust-fmt, go-fmt

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

rust-clippy:
  name: cargo clippy (strict)
  entry: bash -c 'cd simulator && cargo clippy --all-targets --all-features -- -D warnings -D clippy::all -D unused-variables -D unused-imports -D unused-mut -D dead-code -D unused-assignments -W clippy::pedantic -W clippy::nursery'
  language: system
  pass_filenames: false

rust-fmt:
  name: cargo fmt
  entry: bash -c 'cd simulator && cargo fmt --check'
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: bash -c 'test -z "$(gofmt -l .)"'
  language: system
  pass_filenames: false

feat: add WebAssembly type parsing infrastructure
  .kiro/specs/call-indirect-diagnostics/design.md
  .kiro/specs/call-indirect-diagnostics/requirements.md
  .kiro/specs/call-indirect-diagnostics/tasks.md
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/main.rs
  simulator/src/source_map_cache.rs
  simulator/src/source_mapper.rs
  simulator/src/wasm_types.rs
Due: rust-clippy, rust-fmt

Add Simulator memory ceiling
  internal/simulator/runner.go
  internal/simulator/schema.go
  simulator/src/main.rs
  simulator/src/test.rs
  simulator/src/types.rs
Due: go-vet, rust-clippy, rust-fmt, go-fmt

feat: implement HSM integration for cryptographic operations
  docs/HSM_INTEGRATION.md
  docs/adr/002-hsm-integration.md
  docs/adr/README.md
  simulator/Cargo.toml
  simulator/examples/hsm_integration.rs
  simulator/src/hsm/mod.rs
  simulator/src/hsm/pkcs11.rs
  simulator/src/hsm/software.rs
  simulator/tests/hsm_integration_tests.rs
Due: rust-clippy, rust-fmt

chore: cleanup
  .kiro/specs/call-indirect-diagnostics/design.md
  .kiro/specs/call-indirect-diagnostics/requirements.md
  .kiro/specs/call-indirect-diagnostics/tasks.md
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/main.rs
  simulator/src/runner.rs
  simulator/src/source_mapper.rs
  simulator/src/wasm_types.rs
Due: rust-clippy, rust-fmt

fix(sim): include Key ID in missing ledger entry error output
  simulator/src/main.rs
Due: rust-clippy, rust-fmt

feat: add partial ID and tx-hash prefix resolution to session lookup
  internal/cmd/resource_lookup.go
  internal/cmd/resource_lookup_test.go
  internal/cmd/session.go
  internal/cmd/stats.go
Due: go-vet, go-fmt

fix: resolve CI failures - license headers and emojis
  CLI_REFACTOR_ISSUE_101.md
  DELIVERY_COMPLETE.md
  PR_SUBMISSION_GUIDE.md
  XDR_GENERATOR_PR_SUMMARY.md
  cmd/generate-xdr-snapshot/README.md
  internal/simulator/builder_test.go
  internal/sourcemap/discovery.go
  simulator/src/main_test.rs
  tests/logger.test.go
Due: go-vet, rust-clippy, rust-fmt, go-fmt

fix: restore simulator/main.rs from main branch
  simulator/src/main.rs
Due: rust-clippy, rust-fmt

feat(sim): add --no-cache flag to bypass SourceMapCacheEntry
  simulator/src/main.rs
  simulator/src/source_map_cache.rs
  simulator/src/source_mapper.rs
Due: rust-clippy, rust-fmt

Refactor config lifecycle phases and validators
  PR_MESSAGE.md
  internal/config/config.go
  internal/config/config_test.go
Due: go-vet, go-fmt

Add optional linear memory dump support to snapshots
  PR_MESSAGE.md
  internal/cmd/export.go
  internal/cmd/snapshot_memory.go
  internal/cmd/snapshot_memory_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/snapshot/snapshot.go
  internal/snapshot/snapshot_test.go
Due: go-vet, go-fmt

feat(errors): implement standardized error wrapping and introduce ErstErrorCode
  internal/errors/errors.go
  internal/errors/erst_error_code.go
Due: go-vet, go-fmt

fix(errors): add missing newline for better code formatting
  internal/errors/erst_error_code.go
Due: go-vet, go-fmt

refactor: Refactor SDK errors to utilize standard library
  internal/cmd/shell.go
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/rpc/failover_test.go
  internal/rpc/ledger_test.go
  internal/simulator/interface_test.go
Due: go-vet, go-fmt

fix: Prevent memory leak in continuous sandbox daemon mode
  internal/simulator/memory_leak_test.go
  internal/simulator/runner.go
Due: go-vet, go-fmt

fix: resolve CI failures - emojis and Go formatting
  docs/adr/001-snapshot-caching-strategy.md
  docs/adr/002-hsm-integration.md
  internal/dce/dce_test.go
Due: go-vet, go-fmt

feat(rpc): add RoundTripperFunc and final polish of the RPC client
  internal/rpc/client.go
Due: go-vet, go-fmt

style: run gofmt and rustfmt to satisfy CI format checks
  internal/cmd/dry_run.go
  internal/dce/dce_test.go
  internal/eventbus/eventbus.go
  internal/eventbus/eventbus_test.go
  internal/simulator/ledger_limits.go
  internal/simulator/ledger_limits_test.go
  internal/updater/checker.go
  simulator/examples/hsm_integration.rs
  simulator/src/wasm.rs
  simulator/tests/hsm_integration_tests.rs
Due: go-vet, rust-clippy, rust-fmt, go-fmt

fix(metrics): remove duplicate Run method and unused variable in simulator
  internal/simulator/runner.go
  verify_implementation.sh
Due: go-vet, go-fmt

chore(licenses): add missing header to audit sign test
  src/commands/__tests__/audit.sign.spec.ts
Due: none

feat(rpc): enhance RPC client for Protocol V2
  docs/ARCHITECTURE.md
  src/audit/signing/factory.ts
  src/audit/signing/kmsSigner.ts
  src/commands/audit.ts
  src/index.ts
  src/rpc/__tests__/fallback-client.benchmark.spec.ts
  src/rpc/fallback-client.ts
  src/rpc/types-v2.ts
  src/rpc/validator.ts
Due: none

feat: Implement full jittered exponential backoff to prevent thundering herd
  internal/rpc/jitter_test.go
  internal/rpc/retry.go
Due: go-vet, go-fmt

fix: merge issues
  integration/context_helper_test.go
  integration/integration_test.go
  internal/cmd/debug.go
  internal/cmd/dry_run.go
  internal/cmd/init.go
  internal/dce/dce_test.go
  internal/decenstorage/publisher.go
  internal/dwarf/parser.go
  internal/dwarf/parser_test.go
  internal/eventbus/eventbus.go
  internal/eventbus/eventbus_test.go
  internal/rpc/client.go
  internal/rpc/client_retry_test.go
  internal/rpc/verification.go
  internal/rpc/verification_test.go
  internal/simulator/builder_test.go
  internal/simulator/gas.go
  internal/simulator/gas_test.go
  internal/simulator/ledger_limits.go
  internal/simulator/ledger_limits_test.go
  internal/sourcemap/discovery.go
  internal/trace/navigation.go
  internal/trace/trap.go
  internal/trace/trap_test.go
  internal/trace/treeviewer_mouse.go
  internal/trace/viewer.go
  internal/updater/checker.go
Due: go-vet, go-fmt

docs(ci): add CI failure analysis and fix instructions
  CI_FAILURE_ANALYSIS.md
  CI_FIX_REQUIRED.md
  fix_ci.sh
Due: none

added cryptopgraphy audit
  cryptography-dependency-audit.md
Due: none

fix: license headers, Rust formatting, and merge artifacts
  erst_extension/src/traceExport.test.ts
  erst_extension/src/traceExport.ts
  integration/context_helper_test.go
  integration/integration_test.go
  simulator/examples/hsm_integration.rs
  simulator/src/git_detector.rs
  simulator/src/lib.rs
  simulator/src/main.rs
  simulator/src/source_map_cache.rs
  simulator/src/source_mapper.rs
  simulator/src/wasm.rs
  simulator/tests/hsm_integration_tests.rs
  src/commands/__tests__/audit.sign.spec.ts
Due: go-vet, rust-clippy, rust-fmt, go-fmt

fix: license headers format and script permissions
  integration/context_helper_test.go
  integration/integration_test.go
  scripts/lint-unused.sh
  scripts/test-ci-locally.sh
  scripts/test-unused-detection.sh
  scripts/test_local_replay.sh
  scripts/validate-ci.sh
  scripts/validate-errors.sh
  scripts/validate-interface.sh
  scripts/verify-security-implementation.sh
  scripts/verify_no_ansi.sh
Due: go-vet, go-fmt

fix: shell script headers and shebang placement
  scripts/check-license-headers.sh
  scripts/lint-unused.sh
  scripts/test-ci-locally.sh
  scripts/test-unused-detection.sh
  scripts/test_local_replay.sh
  scripts/validate-ci.sh
  scripts/validate-errors.sh
  scripts/validate-interface.sh
  scripts/verify-security-implementation.sh
  scripts/verify_no_ansi.sh
Due: none

fix: Rust compilation, module structure, and missing dependencies
  .github/workflows/fuzz.yml
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/examples/hsm_integration.rs
  simulator/src/hsm/pkcs11.rs
  simulator/src/hsm/software.rs
  simulator/src/lib.rs
  simulator/src/main.rs
  simulator/src/runner.rs
  simulator/src/source_map_cache.rs
  simulator/tests/hsm_integration_tests.rs
  simulator/tests/signature_verification_mock_test.rs
Due: rust-clippy, rust-fmt

fix: pre-allocate slice capacities in XDR array serialization
  internal/decoder/decoder.go
  internal/decoder/suggestions.go
Due: go-vet, go-fmt

fix: merge issues
  .github/workflows/ci.yml
  scripts/lint-strict.sh
  scripts/test-ci-locally.sh
  scripts/test-strict-linting.sh
Due: none

fix: add OS-level file locking and atomic writes to SourceMapCache
  internal/sourcemap/cache.go
  simulator/Cargo.toml
  simulator/src/source_map_cache.rs
Due: go-vet, rust-clippy, rust-fmt, go-fmt

chore: resolve merge conflicts in simulator module and restore stashed changes
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/main.rs
  simulator/src/runner.rs
  simulator/src/snapshot/mod.rs
  simulator/src/source_map_cache.rs
  simulator/src/source_mapper.rs
  simulator/src/vm.rs
  simulator/src/wasm.rs
Due: rust-clippy, rust-fmt

Fix remaining rust compilation errors and test failures
  simulator/src/git_detector.rs
  simulator/src/main.rs
  simulator/src/runner.rs
  simulator/src/signature_verification_mock_test.rs
  simulator/src/snapshot/mod.rs
  simulator/src/source_map_cache.rs
  simulator/src/source_mapper.rs
  simulator/src/wasm_types.rs
Due: rust-clippy, rust-fmt

Fix simulator build: add missing libc dependency and apply formatting
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/source_map_cache.rs
Due: rust-clippy, rust-fmt

Delete kiro/specs/formal-simulator-schemas directory
  kiro/specs/formal-simulator-schemas/config.kiro
  kiro/specs/formal-simulator-schemas/design.md
  kiro/specs/formal-simulator-schemas/requirements.md
  kiro/specs/formal-simulator-schemas/tasks.md
Due: none

fix: merge issues
  CHANGELOG_METRICS.md
  CI_FAILURE_ANALYSIS.md
  CI_FIX_REQUIRED.md
  COMMIT_MESSAGE.txt
  FLAMEGRAPH_CHECKLIST.md
  FLAMEGRAPH_IMPLEMENTATION.md
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_STATUS.md
  METRICS_IMPLEMENTATION_SUMMARY.md
  PR_ENV_VALIDATION.md
  PR_INSTRUCTIONS.md
  PR_MESSAGE.md
  PR_MESSAGE_530.md
  PR_MESSAGE_FULL.md
  cryptography-dependency-audit.md
  fix_ci.sh
  internal/cmd/shell.go
  local-event-testing.md
  scripts/verify_flamegraph.sh
  simulator/Cargo.lock
  src/index.ts
  verify_implementation.sh
Due: go-vet, go-fmt

fix: resolve CI failures (clippy, Windows build, Rust 1.87 compat)
  internal/sourcemap/cache.go
  internal/sourcemap/cache_lock_unix.go
  internal/sourcemap/cache_lock_windows.go
  simulator/Cargo.lock
  simulator/Cargo.toml
  simulator/src/source_map_cache.rs
Due: go-vet, rust-clippy, rust-fmt, go-fmt

fix: use local decode_error in tests instead of stack_trace import
  simulator/src/main.rs
Due: rust-clippy, rust-fmt

Path conditions:
  go-vet: any of: \.go$
  rust-clippy: any of: \.rs$
  rust-fmt: any of: \.rs$
  go-fmt: any of: \.go$
